@use 'variables.scss';

.contact{
    & .content__contact > div{
        display: flex;
        gap:0 10px ;
        flex-wrap: wrap;
    }
    & .contact__info{
        width: 100%;
        margin-bottom: 30px;
        & h3{
            margin-top: 15px;
            font-weight: 400;
            font-size: 1rem;
        }
        & p{
            margin-top: 4px;
        }
    }


    & form{
        width: 100%;
        input,textarea{
            width: 100%;
            resize: none;
            padding: 16px 20px 6px 12px;
            font-size: 1.1rem;
            font-weight: 400;
            border-radius: 5px;
            background-color: transparent;
            border: 2px solid #2a3b47;
        }

        & .form__inputs{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px 10px;
            & .input__name,.input__email{
                width: 100%;
                position: relative;
                & span{
                    position: absolute;
                    font-size: 1.1rem;
                    top: 18px;
                    left: 13px;
                    pointer-events: none;
                }

                input:valid ~span,
                input:focus ~span{
                    top: -11px;
                    font-weight: 300;
                    font-size: .9rem;
                    padding: 0 5px;
                    // background-color: rgb(17 27 34);
                    background-color: variables.$color-body-l;
                    transition: all .3s ease-in-out;
                    &.dark-span{
                        background-color: variables.$color-body-d;
                    }
                }
            }
                
        }

        & .form__textarea{
            margin-top: 20px;
            position: relative;
            & span{
                position: absolute;
                font-size: 1.1rem;
                top: 18px;
                left: 13px;
                pointer-events: none;
            }  
            & textarea:valid ~span,
            & textarea:focus ~span{
                top: -11px;
                font-weight: 300;
                padding: 0 5px;
                font-size: .9rem;
                background-color: variables.$color-body-l;
                transition: all .3s ease-in-out;
                &.dark-span{
                    background-color: variables.$color-body-d;
                }
            }
            
        }

        & button{
            width: 100%;
            margin-top: 12px;
            color:white;
            padding: 12px 0;
            cursor: pointer;
            font-size: 1.2rem;
            border-radius: 5px;
            border: none;
            background-color: variables.$btn_bg;
        }
    }

    @media screen and (min-width:768px) {
        & .content__contact > div{
            display: flex;
            gap:0 12px ;
            flex-wrap: nowrap;
        }
        & .contact__info{
            width: 80%;
            & h3{
                font-size: 1.2rem;
            }
            
        }
    }
}