
@use 'variables.scss';

.formations{
    margin-top: 60px;
}

.content__formations{
    
    & h2{
        margin-bottom: 10px;
    }

    & .formation__info{
        padding: 20px 18px;
        position: relative;
        & ::before{
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            background-color: variables.$color-body-d;
        }
        & ::after{
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            top: 26px;
            left: -5px;
            border-radius: 100px;
            background-color:  variables.$color-body-d;
            box-shadow: 0px 0px 0px 2px variables.$color-body-l;
        }

        &:first-child{
            padding-top: 10px; 
            & ::after{
                top: 16px;
            }
        }

        & > div{
            & p{
                line-height: 14px;
                margin: 5px 0;
                & > a{
                    color:variables.$color-text-l;
                    text-decoration:underline; 
                    &:hover{
                        color:variables.$color-text-d;
                    }
                }
            }
            & span{
                font-size: .8rem;
            }
        }

    }

    @media screen and (min-width:768px) {
    
        & .formation__info{
            & span{
                font-size: .850rem;
            }
            & > div{
                margin-top: 5px;
                & h3{
                    font-size: 1.4rem;
                }
                & p{
                    line-height: 18px;
                }
                
            }
    
        }
}

}