
@use 'variables.scss';

.formations{
    margin-top: 60px;
}

.content__formations{

    & h2{
        margin-bottom: 10px;
    }

    & .formation__info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 20px;
        & .info__img {
            display: block;
            width: 150px;
            & img {
                width: 100%;
                object-fit: cover;
            }

        }

        & > div{
            padding: 0 10px;
            text-align: center;

            & p{
                line-height: 14px;
                margin: 5px 0;
            }
            & span{
                font-size: .8rem;
            }
        }

    }

    @media screen and (min-width:768px) {
    
        & .formation__info{
            max-width: 350px;
            flex-direction: column;
            gap: 15px 0;
            & .info__img {
                width: 200px;    
            }

            & > div{
                padding: 0 10px;
                text-align: center;
                & h3{
                    font-size: 1.4rem;
                }
                & p{
                    line-height: 18px;
                    margin: 5px 0;
                }
                & span{
                    font-size: .850rem;
                }
            }
    
        }
}

}