@use 'variables.scss';

header{
    background-color:variables.$bg-header-l;
    padding: 12px 0;
    position: fixed;
    width: 100%;
}

.Hearder__nav{
    padding: 0 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .icon_title__nav{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    & .nav__items{
        position: fixed;
        width: 100%;
        top: 55px;
        right: 0;
        opacity: 0;
        transform: translateY(-400px);
        transition: opacity .1s ease-in-out;
        transition: transform .3s ease-in-out;

        & ul{
            width: 90%;
            padding: 8px 12px;
            margin: auto;
            background-color: #928f8f;
            box-shadow: 1px 6px 20px -15px #000000;
            border-radius:5px;
            & li {
                border-radius: 5px;
                & > a{
                    color: #ffffff;  
                    display: block;
                    padding:6px 4px;
                    border-radius: 5px;
                    font-weight: 400;
                    background-color: rgb(4, 66, 107);
                    &:hover{
                        // background-color: rgba(2, 92, 151, 0.3);
                        background-color: rgba(1, 78, 129,.2);
                        transition: background-color .3s ease-in-out;
                    }
                    
                }
            }
        }
    }

    & .show{
        opacity: 1;
        transform: translateY(0px);
        transition: opacity .1s ease-in-out;
        transition: transform .3s ease-in-out;
    }

    @media screen and (min-width:768px) {
        width: 80%;
        .menu_hamburger{
            display: none;
        }
        & .nav__items{
            position:static;
            width: auto;
            opacity: 1;
            transform: translateY(0px);
            & ul{
                width: auto;
                background-color: transparent;
                border-radius:0;
                padding: 0;
                display: flex;
                gap: 0 10px;
                box-shadow: none;
                & li {
                    & > a{
                        padding:8px 12px;
                    }
                }
            }
        }
    }


}


