@use 'variables.scss';

header{
    padding: 12px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.Hearder__nav{
    padding: 0 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .icon_title__nav{
        display: flex;
        align-items: center;
        gap: 10px;
        & .menu_hamburger{
            & path{
                filter: invert(1);
            }
        }
    }
    
    & .nav__items{
        position: fixed;
        width: 100%;
        top: 56px;
        right: 0;
        opacity: 0;
        transform: translateY(-400px);
        transition: opacity .1s ease-in-out;
        transition: transform .3s ease-in-out;
        & ul{
            width: 90%;
            padding: 8px 12px;
            margin: auto;
            border-left: 2px solid variables.$color-border-l;
            border-right: 2px solid variables.$color-border-l;
            border-bottom: 2px solid variables.$color-border-l;
            background-color: variables.$bg-header-l;
            box-shadow: 1px 12px 15px -16px variables.$color-body-d;
            border-radius:5px;
            & li {
                border-radius: 5px;
                & > a{
                    color: #424647;  
                    display: block;
                    padding:6px 4px;
                    border-radius: 5px;
                    font-weight: 400;
                    // background-color: rgb(4, 66, 107);
                    
                    &:hover{
                        // background-color: rgba(2, 92, 151, 0.3);
                        // background-color: rgba(1, 78, 129,.2);
                        background-color: rgba(104, 185, 243,.2);
                        color: #1083D6; 
                        transition: background-color .3s ease-in-out;
                    }
                    
                }
            }
            &.dark-ul{
                background-color: variables.$bg-header-d;
                border-left: 2px solid variables.$color-border-d;
                border-right: 2px solid variables.$color-border-d;
                border-bottom: 2px solid variables.$color-border-d;
                & li > a{
                    color: #e2e2e2; 
                }
            }
        }
    }

    & .show{
        opacity: 1;
        transform: translateY(0px);
        transition: opacity .1s ease-in-out;
        transition: transform .3s ease-in-out;
    }
    & #light{
        display: none;
    }


    @media screen and (min-width:768px) {
        width: 80%;
        .menu_hamburger{
            display: none;
        }
        & .nav__items{
            position:static;
            width: auto;
            opacity: 1;
            transform: translateY(0px);
            & ul{
                width: auto;
                background-color: transparent;
                border-radius:0;
                padding: 0;
                display: flex;
                gap: 0 10px;
                box-shadow: none;
                & li {
                    & > a{
                        padding:8px 12px;
                    }
                }
            }
        }
    }


}


