@use 'variables.scss';

.redes{
    margin: 18px 0;
    padding: 0 5px;
    & a:first-child{
        margin-right: 5px;
    }
}


.home{
    padding-top: 60px;
    & .content__home{
        margin-top: 55px;
        & .content_profile{
            display: block;
            max-width: 320px;
            width: 220px;
            margin:  0 auto;
            & > img{
                width: 100%;
                object-fit: contain;
            }
        }

        & .home__info{

            h1{
                font-weight: 900;
                font-size:variables.$fs-h1-text ;
                line-height: 40px;
                color: #0475c0;
                letter-spacing: -1px;
                span {
                    font-size: 2.4rem;
                    color: variables.$color-title-l;
                }
            }


            & > h3{
                font-size: 1.250rem;
                margin: 10px 0;
                font-weight: 400;
            }

            .about-me__info{
                & p{
                    line-height: 20px;
                    max-width:70ch;
                }
                & > p:first-of-type{
                    margin-bottom: 10px;
                }
            }

            .download{
                color: #ffffff;
                padding: 13px 10px;
                background-color:variables.$btn_bg;
                border-radius: 5px;
            }
        }
    }

    @media screen and (min-width:768px) {
        & .content__home{
            margin-top: 55px;
            padding-bottom: 20px;
            display: flex;
            align-items: start;
            & .content_profile{
                min-width: 285px;
                padding: 0;
            }
    
            & .home__info{
                padding-left: 25px;
                h1{
                    max-width: 12ch;
                    font-size:variables.$fg-h1-text;
                    line-height: 40px;
                    letter-spacing: 0px;
                    span {
                        font-size: 2.2rem;
                    }
                }
    
                & > p{
                    margin: 18px 0;
                    font-size: 1.3rem;
                }

                .about-me__info{
                    & p{
                        line-height: 22px;
                    }
                }

                .download{
                    padding: 13px 22px;
                }

            }
        }
    }
}