@use 'variables.scss';

.redes{
    margin: 22px 0;
    display: flex;
    align-items: center;
    & a:first-child{
        margin-right: 15px;
    }
    svg:hover{
        fill: #000000;
        transform: scale(1.07);
        transition: all .3s ease-in-out;
    }
}


.home{
    padding-top: 60px;
    & .content__home{
        margin-top: 55px;
        & .content_profile{
            display: block;
            max-width: 320px;
            width: 290px;
            height: 290px;
            margin:  0 auto;
            background-color:rgba(104, 185, 243,.2);
            // border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
            border-radius: 24% 76% 50% 50% / 35% 37% 63% 65% ;
            overflow: hidden;
            & > img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
                padding-top: 30px;
                object-fit: contain;
            }
        }

        & .home__info{

            h1{
                font-weight: 900;
                font-size:variables.$fs-h1-text ;
                line-height: 40px;
                color: #0475c0;
                letter-spacing: -1px;
                span {
                    font-size: 2.4rem;
                    color: variables.$color-title-l;
                }
            }

            & p.specialty{
                font-size: 1.250rem;
                color: variables.$color-title-l;
            }

            & >p{
                font-size: 1.250rem ;
                margin: 10px 0;
                font-weight: 400;
            }

            .about-me__info{
                margin-top: 20px;
                & p{
                    line-height: 20px;
                    max-width:70ch;
                }
                & > p:first-of-type{
                    margin-bottom: 10px;
                }
                & p a{
                    color: #098ce2;
                    &:hover{
                        color: rgb(3, 78, 128);
                        transition: color .3s ease-in-out;
                    }
                }
            }

            .download{
                color: #ffffff;
                padding: 13px 10px;
                background-color:variables.$btn_bg;
                border-radius: 5px;
                &:hover{
                    background-color:variables.$btn_bg_hover;
                    transition:background-color .3s ease-in-out ;
                }
            }
        }
    }

    @media screen and (min-width:768px) {
        & .content__home{
            margin-top: 55px;
            padding-bottom: 20px;
            display: flex;
            align-items: start;
            & .content_profile{
                min-width: 285px;
                padding: 0;
            }
    
            & .home__info{
                padding-left: 25px;
                h1{
                    max-width: 12ch;
                    font-size:variables.$fg-h1-text;
                    line-height: 38px;
                    letter-spacing: 0px;
                    margin-bottom: 16px;
                    span {
                        font-size: 1.8rem;
                    }
                }
                & p.specialty{
                    font-size: 1.350rem;
                }
    
                & > p{
                    margin: 18px 0;
                    font-size: 1.3rem;
                }

                .about-me__info{
                    margin-top: 40px;
                    & p{
                        line-height: 22px;
                    }
                }

                .download{
                    padding: 13px 22px;
                }

            }
        }
    }
}