
@use 'variables.scss';

:root{
    --Letra:'Lato', sans-serif;
    scroll-behavior: smooth;
    scroll-padding:60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Letra);
}


//  modo light
body{
    color:variables.$color-text-l;
    background:variables.$color-body-l;

    & header{
        background-color:variables.$bg-header-l;
    }

    h2{
        color: variables.$color-title-l;
    }
    
    h3{
        color: variables.$color-title-l;
    }
}

//  modo dark
body.dark-mod{
    color:variables.$color-text-d;
    background:variables.$color-body-d;
        
    h2{
        color: variables.$color-title-d;
    }
    h3{
        color: variables.$color-title-d;
    }

    //Header
    & header {
        background-color:variables.$bg-header-d;
        & .menu_hambg{
            & svg path{
                stroke: #ffffff;
            }
        }
    }

    // redes de home y contacto
    & .redes{
        svg{
            fill:variables.$color-text-d;
        }
        svg:hover{
            fill: #ffffff;
        }
    }

    // Home
    .content__home{
        & .home__info{
            h1{
                span {
                    color: variables.$color-title-d;
                }
            }
        }
        & > p.sub-title{
            color: variables.$color-title-d;
        }
    }

    // Contacto
    input,textarea{
        color: variables.$color-title-d;
    }

    // Proyectos
    .project__content{
        & .info__view{
            & a svg{
                fill:variables.$color-text-d;
            }
            & a svg:hover{
                fill: #ffffff;
            }
        }
    
    }
    & div.card{
        background-color: variables.$color-box-d;
        border: 2px solid variables.$color-border-d;
        .card__info{
            & p{
                color: variables.$color-text-project-d;
            }
        }
    } 
    

    // Footer
    & .content__footer{
        border-top:1px solid variables.$color-border-d;
    }
}


li{
    list-style: none;
}

input,textarea{
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.content{
    max-width: 92%;
    width: 100%;
    margin: auto;
    padding: 20px 10px;
}

svg{
    cursor: pointer;
}

// definir los tamaños de las tags
h2{
    font-size: variables.$fs-h2-text;
}

h3{
    font-size: variables.$fs-h3-text;
}
p{
    font-size: variables.$fs-text;
}


@media screen and (min-width:768px) {
        .content{
            width: 90%;
    }

    h2{
        font-size: variables.$fm-h2-text;
    }
    
    h3{
        font-size: variables.$fm-h3-text;
    }
    p{
        font-size: variables.$fm-text;
    }
}


@media screen and (min-width:1024px) {
        .content{
            width: 75%;
        }
        h2{
            font-size: variables.$fg-h2-text;
        }
        
        h3{
            font-size: variables.$fg-h3-text;
        }
        p{
            font-size: variables.$fg-text;
        }
}

@media screen and (min-width:1680px) {
    .content{
        width: 60%;
        
    }
    
}