
@use 'variables.scss';

:root{
    --Letra:'Lato', sans-serif;
    scroll-behavior: smooth;
    scroll-padding:75px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Letra);
}


body{
    color:variables.$color-text-l;
    background:variables.$color-body-l;
    h2{
        color: variables.$color-title-l;
    }
    
    h3{
        color: variables.$color-title-l;
    }
}

body.dark-mod{
    color:variables.$color-text-d;
    background:variables.$color-body-d;
    h2{
        color: variables.$color-title-d;
    }
    h3{
        color: variables.$color-title-d;
    }
}


li{
    list-style: none;
}

input,textarea{
    border: none;
    outline: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.content{
    max-width: 92%;
    width: 100%;
    margin: auto;
    padding: 0 10px;
}

svg{
    cursor: pointer;
}
h2{
    font-size: variables.$fs-h2-text;
}

h3{
    font-size: variables.$fs-h3-text;
}
p{
    font-size: variables.$fs-text;
}
// definir los tamaños de las tags

@media screen and (min-width:768px) {
        .content{
            width: 90%;
    }

    h2{
        font-size: variables.$fm-h2-text;
    }
    
    h3{
        font-size: variables.$fm-h3-text;
    }
    p{
        font-size: variables.$fm-text;
    }
}



@media screen and (min-width:1024px) {
        .content{
            width: 75%;
        }
        h2{
            font-size: variables.$fg-h2-text;
        }
        
        h3{
            font-size: variables.$fg-h3-text;
        }
        p{
            font-size: variables.$fg-text;
        }
}