

.tech {

    padding: 20px 0;
    .content__tech{
        & h2{
            // margin-bottom:$mb-subtitle ;
        }
        & p{
            max-width: 75ch;
        }

        & div{
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(75px,1fr));
            
            gap: 7px;
            & .tech__icon{
                width: 100%;
                padding: 4px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                img{
                    width: 55px;
                    margin: auto;
                    object-fit: contain;
                }
                span {
                    text-align: center;
                    font-size: .850rem;
                }
            }
        }
    }   

    @media screen and (min-width:768px) {
        .content__tech{
            & div{
                grid-template-columns: repeat(auto-fit, minmax(80px,1fr));
            }
            & p{
                max-width: 70ch;
            }

        }
}
}