
$fs-text:.980rem;
$fm-text:1.05rem;
$fg-text:1.1rem;

$fs-h1-text:2.4rem;
$fm-h1-text:2.8rem;
$fg-h1-text:3rem;

$fs-h2-text:1.750rem;
$fm-h2-text:1.850rem;
$fg-h2-text:2rem;

$fs-h3-text:1.250rem;
$fm-h3-text:1.3rem;
$fg-h3-text:1.350rem;


// $btn_bg:#014E81;
$btn_bg:#0a6cad;
$btn_bg_hover:#2286ce;
$title:#eFF3F5;


// modo oscuro

$bg-header-d:#0d161c;
$color-body-d:rgba(17, 27, 34);// #111B22
$color-title-d:#e8ebec;
$color-text-d:#C8CDD0;
$color-text-project-d:#d9dee0;

$color-border-d:#2A3B47;
$color-box-d:#212E36;



// modo light

//$bg-header-l:rgba(235, 232, 232, 0.8);
$bg-header-l:rgb(255, 255, 255);

$color-body-l:#FBFBFE;// #111B22
$color-title-l:#023a5c;
$color-text-l:#50585a;
$color-text-project-l:#43494b;

$color-border-l:#EDEFF0;
$color-box-l:#fdfdfd;