
$fs-text:.9rem;
$fm-text:.980rem;
$fg-text:1.1rem;

$fs-h1-text:3rem;
$fm-h1-text:3.350rem;
$fg-h1-text:3.750rem;

$fs-h2-text:1.750rem;
$fm-h2-text:1.850rem;
$fg-h2-text:2rem;

$fs-h3-text:1.250rem;
$fm-h3-text:1.3rem;
$fg-h3-text:1.350rem;

$btn_bg:#149f6c;
$title:#29b27e;

$color-dark-secondary:#c1c1c1;
$color-dark-primary:#c1c1c1;
