---

import Layaout from '../Layaout.astro';

// components
import Inicio from '../components/Inicio.astro'
import Header from '../components/Header.astro';
import About from '../components/About.astro'
import Proyects from "../components/Proyectos.astro";
import Formatio from "../components/Formacion.astro";
import Technology  from '../components/Tecnologias.astro'
import Contact from "../components/Contacto.astro";
// Styles
import '../style/main.css'

---

<Layaout>
	<Header />
	<main>
			<Inicio />
			<About/>
			<Proyects />
			<Formatio />
			<Technology />
			<Contact />
	</main>
	<footer>
        <div class="content content__footer">
            <p>&copy; 2024 Alex Geovanni | Creado con &#128153</p>
        </div>
    </footer>
   
</Layaout> 
