---

import Layaout from '../Layaout.astro';

// components
import Inicio from '../components/Inicio.astro'
import Header from '../components/Header.astro';
import SobreMi from '../components/SobreMi.astro'
import Technology  from '../components/Tecnologias.astro'
import Proyects from "../components/Proyectos.astro";
import Formatio from "../components/Formacion.astro";
import Contact from "../components/Contacto.astro";
// Styles
import '../style/main.css'

---

<Layaout>
	<Header />
	<main>
			<Inicio />
			<Technology />
			<Proyects />
			<Formatio />
			<Contact />
	</main>
</Layaout> 
