:root {
  --Letra:"Lato", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Letra);
}

body {
  color: #50585a;
  background: #FBFBFE;
}
body header {
  background-color: rgb(255, 255, 255);
}
body h2 {
  color: #023a5c;
}
body h3 {
  color: #023a5c;
}

body.dark-mod {
  color: #C8CDD0;
  background: rgb(17, 27, 34);
}
body.dark-mod header {
  background-color: #0d161c;
}
body.dark-mod h2 {
  color: #e8ebec;
}
body.dark-mod h3 {
  color: #e8ebec;
}
body.dark-mod .redes svg {
  fill: #C8CDD0;
}
body.dark-mod .redes svg:hover {
  fill: #ffffff;
}
body.dark-mod .content__home .home__info h1 span {
  color: #e8ebec;
}
body.dark-mod .content__home > p.sub-title {
  color: #e8ebec;
}
body.dark-mod input, body.dark-mod textarea {
  color: #e8ebec;
}
body.dark-mod .project__content .info__view a svg {
  fill: #C8CDD0;
}
body.dark-mod .project__content .info__view a svg:hover {
  fill: #ffffff;
}
body.dark-mod div.card {
  background-color: #212E36;
  border: 2px solid #2A3B47;
}
body.dark-mod .content__footer {
  border-top: 1px solid #2A3B47;
}

li {
  list-style: none;
}

input, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.content {
  max-width: 92%;
  width: 100%;
  margin: auto;
  padding: 20px 10px;
}

svg {
  cursor: pointer;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 0.95rem;
}

@media screen and (min-width: 768px) {
  .content {
    width: 90%;
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    width: 75%;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1680px) {
  .content {
    width: 60%;
  }
}
header {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  header {
    padding: 14px 0;
  }
}

.Hearder__nav {
  padding: 0 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hearder__nav .icon_title__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Hearder__nav .icon_title__nav .menu_hamburger path {
  filter: invert(1);
}
.Hearder__nav .nav__items {
  position: fixed;
  width: 100%;
  top: 56px;
  right: 0;
  opacity: 0;
  transform: translateY(-400px);
  transition: opacity 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.Hearder__nav .nav__items ul {
  width: 90%;
  padding: 8px 12px;
  margin: auto;
  border-left: 2px solid #EDEFF0;
  border-right: 2px solid #EDEFF0;
  border-bottom: 2px solid #EDEFF0;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 12px 15px -16px rgb(17, 27, 34);
  border-radius: 5px;
}
.Hearder__nav .nav__items ul li {
  border-radius: 5px;
}
.Hearder__nav .nav__items ul li > a {
  color: #424647;
  display: block;
  padding: 6px 4px;
  border-radius: 5px;
  font-weight: 400;
}
.Hearder__nav .nav__items ul li > a:hover {
  background-color: rgba(104, 185, 243, 0.2);
  color: #1083D6;
  transition: background-color 0.3s ease-in-out;
}
.Hearder__nav .nav__items ul.dark-ul {
  background-color: #0d161c;
  border-left: 2px solid #2A3B47;
  border-right: 2px solid #2A3B47;
  border-bottom: 2px solid #2A3B47;
}
.Hearder__nav .nav__items ul.dark-ul li > a {
  color: #e2e2e2;
}
.Hearder__nav .show {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.Hearder__nav #light {
  display: none;
}
@media screen and (min-width: 768px) {
  .Hearder__nav {
    width: 80%;
  }
  .Hearder__nav .menu_hamburger {
    display: none;
  }
  .Hearder__nav .nav__items {
    position: static;
    width: auto;
    opacity: 1;
    transform: translateY(0px);
  }
  .Hearder__nav .nav__items ul {
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    gap: 0 10px;
    box-shadow: none;
  }
  .Hearder__nav .nav__items ul li > a {
    padding: 8px 12px;
  }
  .Hearder__nav .nav__items ul.dark-ul {
    background-color: transparent;
    border: none;
  }
}

.redes {
  margin: 22px 0;
}
.redes a:first-child {
  margin-right: 15px;
}
.redes svg:hover {
  fill: #000000;
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
}

.home {
  padding-top: 60px;
}
.home .content__home {
  margin-top: 55px;
}
.home .content__home .content_profile {
  display: block;
  max-width: 320px;
  width: 220px;
  margin: 0 auto;
}
.home .content__home .content_profile > img {
  width: 100%;
  object-fit: contain;
}
.home .content__home .home__info h1 {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 40px;
  color: #0475c0;
  letter-spacing: -1px;
}
.home .content__home .home__info h1 span {
  font-size: 2.4rem;
  color: #023a5c;
}
.home .content__home .home__info > h3 {
  font-size: 1.25rem;
  margin: 10px 0;
  font-weight: 400;
}
.home .content__home .home__info .about-me__info p {
  line-height: 20px;
  max-width: 70ch;
}
.home .content__home .home__info .about-me__info > p:first-of-type {
  margin-bottom: 10px;
}
.home .content__home .home__info .download {
  color: #ffffff;
  padding: 13px 10px;
  background-color: #0a6cad;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .home .content__home {
    margin-top: 55px;
    padding-bottom: 20px;
    display: flex;
    align-items: start;
  }
  .home .content__home .content_profile {
    min-width: 285px;
    padding: 0;
  }
  .home .content__home .home__info {
    padding-left: 25px;
  }
  .home .content__home .home__info h1 {
    max-width: 15ch;
    font-size: 3rem;
    line-height: 42px;
    letter-spacing: 0px;
  }
  .home .content__home .home__info h1 span {
    font-size: 2.2rem;
  }
  .home .content__home .home__info > p {
    margin: 18px 0;
    font-size: 1.3rem;
  }
  .home .content__home .home__info .about-me__info p {
    line-height: 22px;
  }
  .home .content__home .home__info .download {
    padding: 13px 22px;
  }
}

.tech {
  padding: 20px 0;
}
.tech .content__tech h2 {
  margin-bottom: 12px;
}
.tech .content__tech p {
  max-width: 75ch;
}
.tech .content__tech div {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 7px;
}
.tech .content__tech div .tech__icon {
  width: 100%;
  padding: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.tech .content__tech div .tech__icon img {
  width: 55px;
  margin: auto;
  object-fit: contain;
}
.tech .content__tech div .tech__icon span {
  text-align: center;
  font-size: 0.85rem;
}
@media screen and (min-width: 768px) {
  .tech .content__tech div {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .tech .content__tech p {
    max-width: 70ch;
  }
}

.project__content h2 {
  margin-bottom: 22px;
}
.project__content .cards {
  display: flex;
  flex-flow: row wrap;
  gap: 15px 0;
}
.project__content .info__view a svg:hover {
  fill: #000000;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .project__content .cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  padding: 15px;
  background-color: #fdfdfd;
  border: 2px solid #EDEFF0;
  border-radius: 5px;
}
.card::after {
  position: absolute;
  content: "";
  top: -6px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #1083D6;
  z-index: -10;
}
.card .card__img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
  border-radius: 3px;
}
.card .card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .card__info h3 {
  font-size: 1.25rem;
  margin: 8px 0;
}
.card .card__info > p {
  max-width: 50ch;
  font-size: 0.8rem;
  line-height: 16px;
  margin: 4px 0;
}
.card .card__info .info__tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin: 10px 0;
}
.card .card__info .info__tech span {
  font-size: 0.825rem;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 7px;
}
.card .card__info .info__view {
  display: flex;
  gap: 0 10px;
}
.card .card__info .info__view a {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .card {
    min-width: 280px;
    max-width: calc(50% - 18px);
  }
  .card .card__img {
    overflow: hidden;
    border-radius: 3px;
  }
  .card .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card .card__info > p {
    font-size: 0.9rem;
  }
}

.formations {
  padding: 20px 0;
}

.content__formations h2 {
  margin-bottom: 10px;
}
.content__formations .formation__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.content__formations .formation__info .info__img {
  display: block;
  width: 150px;
}
.content__formations .formation__info .info__img img {
  width: 100%;
  object-fit: cover;
}
.content__formations .formation__info > div {
  padding: 0 10px;
  text-align: center;
}
.content__formations .formation__info > div p {
  line-height: 14px;
  margin: 5px 0;
}
.content__formations .formation__info > div span {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .content__formations .formation__info {
    max-width: 350px;
    flex-direction: column;
    gap: 15px 0;
  }
  .content__formations .formation__info .info__img {
    width: 200px;
  }
  .content__formations .formation__info > div {
    padding: 0 10px;
    text-align: center;
  }
  .content__formations .formation__info > div h3 {
    font-size: 1.4rem;
  }
  .content__formations .formation__info > div p {
    line-height: 18px;
    margin: 5px 0;
  }
  .content__formations .formation__info > div span {
    font-size: 0.85rem;
  }
}

.contact .content__contact > div {
  display: flex;
  gap: 0 10px;
  flex-wrap: wrap;
}
.contact .contact__info {
  width: 100%;
  margin-bottom: 30px;
}
.contact .contact__info h3 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
}
.contact .contact__info p {
  margin-top: 4px;
}
.contact form {
  width: 100%;
}
.contact form input, .contact form textarea {
  width: 100%;
  resize: none;
  padding: 16px 20px 6px 12px;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #2a3b47;
}
.contact form .form__inputs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px 10px;
}
.contact form .form__inputs .input__name, .contact form .form__inputs .input__email {
  width: 100%;
  position: relative;
}
.contact form .form__inputs .input__name span, .contact form .form__inputs .input__email span {
  position: absolute;
  font-size: 1.1rem;
  top: 18px;
  left: 13px;
  pointer-events: none;
}
.contact form .form__inputs .input__name input:valid ~ span,
.contact form .form__inputs .input__name input:focus ~ span, .contact form .form__inputs .input__email input:valid ~ span,
.contact form .form__inputs .input__email input:focus ~ span {
  top: -11px;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 5px;
  background-color: #FBFBFE;
  transition: all 0.3s ease-in-out;
}
.contact form .form__inputs .input__name input:valid ~ span.dark-span,
.contact form .form__inputs .input__name input:focus ~ span.dark-span, .contact form .form__inputs .input__email input:valid ~ span.dark-span,
.contact form .form__inputs .input__email input:focus ~ span.dark-span {
  background-color: rgb(17, 27, 34);
}
.contact form .form__textarea {
  margin-top: 20px;
  position: relative;
}
.contact form .form__textarea span {
  position: absolute;
  font-size: 1.1rem;
  top: 18px;
  left: 13px;
  pointer-events: none;
}
.contact form .form__textarea textarea:valid ~ span, .contact form .form__textarea textarea:focus ~ span {
  top: -11px;
  font-weight: 300;
  padding: 0 5px;
  font-size: 0.9rem;
  background-color: #FBFBFE;
  transition: all 0.3s ease-in-out;
}
.contact form .form__textarea textarea:valid ~ span.dark-span, .contact form .form__textarea textarea:focus ~ span.dark-span {
  background-color: rgb(17, 27, 34);
}
.contact form button {
  width: 100%;
  margin-top: 12px;
  color: white;
  padding: 12px 0;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #0a6cad;
}
@media screen and (min-width: 768px) {
  .contact .content__contact > div {
    display: flex;
    gap: 0 12px;
    flex-wrap: nowrap;
  }
  .contact .contact__info {
    width: 80%;
  }
  .contact .contact__info h3 {
    font-size: 1.2rem;
  }
}

footer {
  padding: 20px 0 25px 0;
}

.content__footer {
  border-top: 1px solid #EDEFF0;
}
.content__footer p {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
