:root {
  --Letra:"Lato", sans-serif;
  scroll-behavior: smooth;
  scroll-padding: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Letra);
}

body {
  color: #50585a;
  background: #FBFBFE;
}
body header {
  background-color: transparent;
}
body h2.title {
  color: #023a5c;
}
body h3 {
  color: #023a5c;
}

body.dark-mod {
  color: #C8CDD0;
  background: rgb(17, 27, 34);
}
body.dark-mod h2 {
  color: #e8ebec;
}
body.dark-mod h3 {
  color: #e8ebec;
}
body.dark-mod header {
  background-color: transparent;
}
body.dark-mod header .menu_hambg svg path {
  stroke: #ffffff;
}
body.dark-mod .redes svg {
  fill: #C8CDD0;
}
body.dark-mod .redes svg:hover {
  fill: #ffffff;
}
body.dark-mod .content__home .home__info h1 span {
  color: #e8ebec;
}
body.dark-mod .content__home > p.sub-title {
  color: #e8ebec;
}
body.dark-mod .content__home p.specialty {
  color: #e8ebec !important;
}
body.dark-mod .project__content .title__project a svg {
  fill: #C8CDD0;
}
body.dark-mod .project__content .info__view a svg {
  fill: #C8CDD0;
}
body.dark-mod .project__content .info__view a svg:hover {
  fill: #ffffff;
}
body.dark-mod div.card {
  background-color: #212E36;
  border: 2px solid #2A3B47;
}
body.dark-mod div.card .card__info p {
  color: #d9dee0;
}
body.dark-mod .formation__info ::before {
  background-color: #FBFBFE;
}
body.dark-mod .formation__info ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 26px;
  left: -5px;
  border-radius: 100px;
  background-color: #FBFBFE;
  box-shadow: 0px 0px 0px 2px rgb(17, 27, 34);
}
body.dark-mod .formation__info p > a {
  color: #C8CDD0 !important;
  text-decoration: underline;
}
body.dark-mod .formation__info p > a:hover {
  color: #50585a !important;
}
body.dark-mod .tech .tech__tech-icons img.GitHub {
  filter: invert(100%) brightness(1000%);
}
body.dark-mod input, body.dark-mod textarea {
  color: #e8ebec;
}
body.dark-mod .content__footer {
  border-top: 1px solid #2A3B47;
}

li {
  list-style: none;
}

input, textarea {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.content {
  max-width: 92%;
  width: 100%;
  margin: auto;
  padding: 20px 10px;
}

svg {
  cursor: pointer;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 0.98rem;
}

@media screen and (min-width: 768px) {
  .content {
    width: 90%;
  }
  h2 {
    font-size: 1.85rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 1024px) {
  .content {
    max-width: 1024px;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.35rem;
  }
  p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1680px) {
  .content {
    width: 60%;
  }
}
header {
  padding: 18px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

.Hearder__nav {
  padding: 0 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hearder__nav .icon_title__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.Hearder__nav .icon_title__nav h1 {
  cursor: pointer;
  color: #0475c0;
}
.Hearder__nav .nav__items {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  top: 64px;
  right: 0;
  opacity: 0;
  transform: translateY(-400px);
  transition: opacity 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.Hearder__nav .nav__items ul {
  width: 90%;
  padding: 8px 12px;
  margin: auto;
  border-left: 2px solid #EDEFF0;
  border-right: 2px solid #EDEFF0;
  border-bottom: 2px solid #EDEFF0;
  background: transparent;
  border-radius: 5px;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}
.Hearder__nav .nav__items ul li {
  border-radius: 5px;
}
.Hearder__nav .nav__items ul li > a {
  color: #424647;
  display: block;
  padding: 6px 4px;
  border-radius: 5px;
  font-weight: 400;
  position: relative;
}
.Hearder__nav .nav__items ul li > a::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1083d6;
  border-radius: 5px;
}
.Hearder__nav .nav__items ul li > a:active:before {
  width: 100%;
}
.Hearder__nav .nav__items ul li > a:hover {
  background-color: rgba(104, 185, 243, 0.2);
  color: #1083d6;
  transition: background-color 0.3s ease-in-out;
}
.Hearder__nav .nav__items ul.dark-ul {
  background-color: transparent;
  border-left: 2px solid #2A3B47;
  border-right: 2px solid #2A3B47;
  border-bottom: 2px solid #2A3B47;
}
.Hearder__nav .nav__items ul.dark-ul li > a {
  color: #e2e2e2;
}
.Hearder__nav .nav__items .download {
  display: flex;
}
.Hearder__nav .nav__items .download > a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
  padding: 8px 12px;
  background-color: #0a6cad;
  border-radius: 5px;
}
.Hearder__nav .nav__items .download > a:hover {
  background-color: #2286ce;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}
.Hearder__nav .show {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.1s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
.Hearder__nav #light {
  display: none;
}
@media screen and (min-width: 768px) {
  .Hearder__nav {
    margin: auto;
    padding: 0 15px;
  }
  .Hearder__nav .menu_hambg {
    display: none;
  }
  .Hearder__nav .nav__items {
    position: static;
    width: auto;
    opacity: 1;
    transform: translateY(0px);
    backdrop-filter: blur(0);
  }
  .Hearder__nav .nav__items ul {
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    gap: 0 8px;
    box-shadow: none;
  }
  .Hearder__nav .nav__items ul li > a {
    padding: 10px 14px;
  }
  .Hearder__nav .nav__items ul.dark-ul {
    background-color: transparent;
    border: none;
  }
  .Hearder__nav .nav__items .download a {
    margin: 0;
    padding: 10px 25px;
  }
}
@media screen and (min-width: 1024px) {
  .Hearder__nav {
    width: 75%;
  }
  .Hearder__nav .menu_hambg {
    display: none;
  }
  .Hearder__nav .nav__items {
    position: static;
    width: auto;
    opacity: 1;
    transform: translateY(0px);
    backdrop-filter: blur(0);
  }
  .Hearder__nav .nav__items ul {
    width: auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    display: flex;
    gap: 0 8px;
    box-shadow: none;
  }
  .Hearder__nav .nav__items ul li > a {
    padding: 10px 14px;
  }
  .Hearder__nav .nav__items ul.dark-ul {
    background-color: transparent;
    border: none;
  }
  .Hearder__nav .nav__items .download a {
    margin: 0;
    padding: 10px 25px;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: start;
}
.contact > .email__contact {
  display: flex;
  margin-right: 15px;
}
.contact > .email__contact > a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 25px;
  background-color: #0a6cad;
  border-radius: 5px;
}
.contact > .email__contact > a:hover {
  background-color: #2286ce;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}
.contact > .redes__contact {
  display: flex;
  align-items: center;
}
.contact > .redes__contact a:first-child {
  margin-right: 15px;
}
.contact > .redes__contact svg:hover {
  fill: #000000;
  transform: scale(1.07);
  transition: all 0.3s ease-in-out;
}

.home {
  padding-top: 60px;
}
.home .content__home {
  margin-top: 55px;
}
.home .content__home .content_profile {
  display: block;
  max-width: 100%;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background-color: rgba(104, 185, 243, 0.2);
  border-radius: 24% 76% 50% 50%/35% 37% 63% 65%;
  overflow: hidden;
}
.home .content__home .content_profile > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding-top: 65px;
  object-fit: contain;
  transform: scale(1.2);
}
.home .content__home .home__info h1 {
  font-weight: 900;
  max-width: 12ch;
  font-size: 2.4rem;
  line-height: 45px;
  color: #0475c0;
  letter-spacing: -1px;
}
.home .content__home .home__info h1 span {
  font-size: 2.4rem;
  color: #023a5c;
}
.home .content__home .home__info p.specialty {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: #023a5c;
  padding: 6px 0;
  margin-top: 15px;
}
.home .content__home .home__info .resumen__info {
  margin-top: 15px;
}
.home .content__home .home__info .resumen__info p {
  line-height: 20px;
  max-width: 70ch;
}
.home .content__home .home__info .resumen__info > p:first-of-type {
  margin-bottom: 10px;
}
.home .content__home .home__info .resumen__info p a {
  color: #098ce2;
}
.home .content__home .home__info .resumen__info p a:hover {
  color: rgb(3, 78, 128);
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .home .content__home {
    min-height: calc(-180px + 100vh);
    margin-top: 120px;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .home .content__home .content_profile {
    min-width: 285px;
    width: 300px;
    height: 300px;
    padding: 0;
    align-content: start;
  }
  .home .content__home .home__info {
    padding-left: 10px;
  }
  .home .content__home .home__info h1 {
    max-width: 13ch;
    font-size: 2.8rem;
    line-height: 40px;
    letter-spacing: 0px;
    margin-bottom: 20px;
  }
  .home .content__home .home__info h1 span {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 20px;
    font-weight: 400;
  }
  .home .content__home .home__info p.specialty {
    font-size: 1rem;
    padding: 6px 0;
  }
  .home .content__home .home__info > p {
    margin: 18px 0;
    font-size: 1.3rem;
  }
  .home .content__home .home__info .resumen__info {
    margin-top: 20px;
  }
  .home .content__home .home__info .resumen__info p {
    line-height: 28px;
    max-width: 50ch;
  }
}
@media screen and (min-width: 1024px) {
  .home .content__home .content_profile {
    width: 360px;
    height: 365px;
  }
}

.content__about-me div {
  margin-top: 10px;
}
.content__about-me div > p {
  line-height: 28px;
  max-width: 75ch;
  margin-top: 15px;
}
.content__about-me div > p > span {
  font-weight: 600;
}

.tech {
  margin-top: 60px;
}
.tech .content__tech h2 {
  margin-bottom: 12px;
}
.tech .content__tech p {
  max-width: 75ch;
}
.tech .content__tech div {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 7px;
}
.tech .content__tech div .tech__icon {
  width: 100%;
  padding: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.tech .content__tech div .tech__icon img {
  width: 55px;
  margin: auto;
  object-fit: contain;
  aspect-ratio: 3/3;
  cursor: pointer;
}
.tech .content__tech div .tech__icon span {
  text-align: center;
  font-size: 0.95rem;
}
@media screen and (min-width: 768px) {
  .tech .content__tech div {
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
  }
  .tech .content__tech p {
    max-width: 70ch;
  }
}

.project {
  margin-top: 60px;
}
.project .project__content .title__project {
  margin-bottom: 22px;
}
.project .project__content .title__project h2 {
  margin-bottom: -2px;
}
.project .project__content .title__project p {
  display: flex;
  align-items: center;
}
.project .project__content .title__project p a {
  margin-left: 5px;
}
.project .project__content .cards {
  display: flex;
  flex-flow: row wrap;
  gap: 30px 20px;
  overflow: hidden;
  padding-top: 7px;
}
.project .project__content .info__view a svg:hover {
  fill: #000000;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .project .project__content .cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.element_card {
  position: relative;
}
.element_card::after {
  opacity: 0;
  position: absolute;
  content: "";
  top: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #1083D6;
  z-index: -10;
  transition: 0.2s ease-in-out 0.1s;
}
.element_card.after::after {
  opacity: 1;
  transition: 0.2s ease-in-out 0.5s;
}
@media screen and (min-width: 768px) {
  .element_card {
    min-width: 280px;
    max-width: calc(50% - 15px);
  }
}

.card {
  position: relative;
  padding: 25px;
  background-color: #fdfdfd;
  border: 2px solid #EDEFF0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card .card__img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  overflow: hidden;
  border-radius: 3px;
}
.card .card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .card__info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.card .card__info h3 {
  font-size: 1.25rem;
}
.card .card__info > p {
  max-width: 50ch;
  font-size: 0.8rem;
  line-height: 16px;
  margin: 8px 0;
  color: #43494b;
}
.card .card__info .info__tech {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  margin: 8px 0;
}
.card .card__info .info__tech span {
  font-size: 0.825rem;
  border: 1px solid;
  border-radius: 50px;
  padding: 2px 7px;
}
.card .card__info .info__view {
  display: flex;
  gap: 0 10px;
}
.card .card__info .info__view a {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .card {
    width: 100%;
    height: 100%;
  }
  .card .card__img {
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
  }
  .card .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
  }
  .card .card__info > p {
    font-size: 0.9rem;
    line-height: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    height: 100%;
  }
  .card .card__img {
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
  }
  .card .card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
  }
  .card .card__info > p {
    font-size: 1rem;
    line-height: 20px;
  }
}

.formations {
  margin-top: 60px;
}

.content__formations h2 {
  margin-bottom: 10px;
}
.content__formations .formation__info {
  padding: 20px 18px;
  position: relative;
}
.content__formations .formation__info ::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(17, 27, 34);
}
.content__formations .formation__info ::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 26px;
  left: -5px;
  border-radius: 100px;
  background-color: rgb(17, 27, 34);
  box-shadow: 0px 0px 0px 2px #FBFBFE;
}
.content__formations .formation__info:first-child {
  padding-top: 10px;
}
.content__formations .formation__info:first-child ::after {
  top: 16px;
}
.content__formations .formation__info > div p {
  line-height: 14px;
  margin: 5px 0;
}
.content__formations .formation__info > div p > a {
  color: #50585a;
  text-decoration: underline;
}
.content__formations .formation__info > div p > a:hover {
  color: #C8CDD0;
}
.content__formations .formation__info > div span {
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .content__formations .formation__info span {
    font-size: 0.85rem;
  }
  .content__formations .formation__info > div {
    margin-top: 5px;
  }
  .content__formations .formation__info > div h3 {
    font-size: 1.4rem;
  }
  .content__formations .formation__info > div p {
    line-height: 18px;
  }
}

.contact {
  margin-top: 60px;
  /*
  & form{
      width: 100%;
      input,textarea{
          width: 100%;
          resize: none;
          padding: 16px 20px 6px 12px;
          font-size: 1.1rem;
          font-weight: 400;
          border-radius: 5px;
          background-color: transparent;
          border: 2px solid #2a3b47;
      }

      & .form__inputs{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          gap: 20px 10px;
          & .input__name,.input__email{
              width: 100%;
              position: relative;
              & span{
                  position: absolute;
                  font-size: 1.1rem;
                  top: 18px;
                  left: 13px;
                  pointer-events: none;
              }

              input:valid ~span,
              input:focus ~span{
                  top: -11px;
                  font-weight: 300;
                  font-size: .9rem;
                  padding: 0 5px;
                  // background-color: rgb(17 27 34);
                  background-color: variables.$color-body-l;
                  transition: all .3s ease-in-out;
                  &.dark-span{
                      background-color: variables.$color-body-d;
                  }
              }
          }

      }

      & .form__textarea{
          margin-top: 20px;
          position: relative;
          & span{
              position: absolute;
              font-size: 1.1rem;
              top: 18px;
              left: 13px;
              pointer-events: none;
          }  
          & textarea:valid ~span,
          & textarea:focus ~span{
              top: -11px;
              font-weight: 300;
              padding: 0 5px;
              font-size: .9rem;
              background-color: variables.$color-body-l;
              transition: all .3s ease-in-out;
              &.dark-span{
                  background-color: variables.$color-body-d;
              }
          }

      }

      & button{
          width: 100%;
          margin-top: 12px;
          color:white;
          padding: 12px 0;
          cursor: pointer;
          font-size: 1.2rem;
          border-radius: 5px;
          border: none;
          background-color: variables.$btn_bg;
          &:hover{
              background-color:variables.$btn_bg_hover;
              transition:background-color .3s ease-in-out ;
          }
      }
  }*/
}
.contact .content__contact > div {
  display: flex;
  gap: 0 10px;
  flex-wrap: wrap;
  overflow: hidden;
}
.contact .contact__info {
  width: 100%;
  margin-bottom: 30px;
}
.contact .contact__info h3 {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1rem;
}
.contact .contact__info p {
  margin-top: 4px;
}
.contact .contact__info > .redes {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .contact .content__contact > div {
    display: flex;
    gap: 0 12px;
    flex-wrap: nowrap;
  }
  .contact .contact__info {
    width: 80%;
  }
  .contact .contact__info h3 {
    font-size: 1.2rem;
  }
}

footer {
  margin-top: 50px;
}

.content__footer {
  padding: 20px 0 25px 0;
  border-top: 1px solid #EDEFF0;
}
.content__footer p {
  text-align: center;
}

[data-animatio=show-pic] {
  opacity: 0;
  transition: 0.3s ease-in-out 0.1s;
  --opacity: 1;
}

[data-animatio=show-img] {
  opacity: 0;
  transition: 0.3s ease-in-out 0.3s;
  --opacity: 1;
}

[data-animatio=fade-tit] {
  opacity: 0;
  transform: translateX(-150px);
  transition: 0.3s ease-in-out 0.3s;
  --opacity: 1;
  --transform:translate(0);
}
@media screen and (min-width: 768px) {
  [data-animatio=fade-tit] {
    transform: translateY(-150px);
  }
}

[data-animate=fade-down] {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out 0.1s;
  --opacity: 1;
  --transform:translateY(0);
}

[data-animate=fade-right] {
  opacity: 0;
  transform: translateX(-380px);
  transition: 0.3s ease-in-out 0.1s;
  --opacity: 1;
  --transform:translateX(0);
}

[data-animate=fade-left] {
  opacity: 0;
  transform: translateX(380px);
  transition: 0.3s ease-in-out 0.1s;
  --opacity: 1;
  --transform:translateX(0);
}

.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}

/*# sourceMappingURL=main.css.map */
