<section class="about-me">
  <div class="content content__about-me">
    <h2 class="title">Sobre mi</h1>
    <div class="">
      <p>
        Ademas de trabajar como desarrollador Frontend, tengo nociones en otras
        areas como <span>Backend(Java - Spring-Boot) y conocimientos sobre Azure</span>.
      </p>
      <p>
        <span>Unos de mis objetivos es desarollar aplicaciones utiles 
          para las personas,</span> mi enfoque es asegurar que cada producto que desarollo proporcione la mejor experiencia
        de usuario posible.
      </p>
      <p>Tengo fuertes habilidades para trabajar en equipo, lo que me permite colaborar de manera efectiva
        para alcanzar nuestro objetivos comunes.
      </p>
      <p>
        Ademas de la programacion, me gusta tomar buenas fotos, conocer nuevos lugares.
      </p>
    </div>
  </div>
</section>
