<section class="about-me">
  <div class="content content__about-me">
    <h2 class="title">Sobre mi</h2>
    <div class="">
      <p>
        Ademas de trabajar como desarrollador Frontend, tengo nociones en otras
        areas como <span
          >Backend(Java - Spring-Boot) y conocimientos sobre Azure</span
        >.
      </p>
      <p>
        <span
          >Unos de mis objetivos es desarollar aplicaciones utiles para las
          personas,</span
        > mi enfoque es asegurar que cada producto que desarollo proporcione la mejor
        experiencia de usuario posible.
      </p>
      <p>
        Tengo fuertes habilidades para trabajar en equipo, lo que me permite
        colaborar de manera efectiva para alcanzar nuestro objetivos comunes.
      </p>
      <p>
        Ademas de la programacion, me gusta tomar buenas fotos, conocer nuevos
        lugares.
      </p>
    </div>
    <div class="history__about-me">
      <div class="beginning__history">
        <div id="beginning">
          <div class="subtitle__history">
            <h3>Mis inicios</h3>
            <p>Permíteme contarte cómo fue mi introducción al mundo del desarrollo.</p>
          </div>
          <div id="icon__history" class="icons__history">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon-left"
              fill="none"
              width="25px"
              height="25px"
              viewBox="0 0 24 24"
              stroke-width="1.2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
          </div>
        </div>
        <div id="text__beginning" class="text">
          <p>
            Mis primeros pasos en el mundo de la programación los di durante mi
            tiempo en la universidad, donde me inicié con el lenguaje C++. En
            ese entonces, mis conocimientos sobre programación no eran muy
            sólidos. Sin embargo, todo cambió cuando llegué al quinto semestre y
            me sumergí en una materia que realmente me apasionó: "Desarrollo de
            aplicaciones web"
          </p>
          <p>
            Después del siguiente semestre, me adentré en el mundo de C#. Esta
            experiencia fue un verdadero desafío, ya que aprendí sobre la
            marcha. Durante el curso, me enfrente al reto de desarrollar una
            aplicación de escritorio utilizando este lenguaje. A pesar de las
            dificultades, logré completar el proyecto gracias a mi perseverancia
            y a recursos como documentos y videos, que fueron fundamentales para
            mi aprendizaje autodidacta.
          </p>
          <p>
            Probablemente te preguntes cómo decidí adentrarme en el campo del
            Front-end. En realidad, fue durante la pandemia que tomé la decisión
            de sumergirme en el mundo del desarrollo web. Después de realizar
            algunas investigaciones y recibir sugerencias, opté por enfocarme en
            el Front-end, creando páginas web y practicando de manera constante
            hasta alcanzar un nivel satisfactorio.
          </p>
        </div>
      </div>
      <!-- <div class="experience__history">
        <div id="experience">
          <div class="subtitle__history">
            <h3>Aprendizaje</h3>
            <p>Conoce un poco sobre mi incio en la programacion</p>
          </div>
          <div class="icons__history">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon-left"
              fill="none"
              width="25px"
              height="25px"
              viewBox="0 0 24 24"
              stroke-width="1.2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 19.5 8.25 12l7.5-7.5"></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon-down"
              fill="none"
              width="25px"
              height="25px"
              viewBox="0 0 24 24"
              stroke-width="1.2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
            </svg>
          </div>
        </div>
        <div id="text__experience" class="text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique
            obcaecati minus hic saepe! Possimus fugiat tenetur ratione eveniet
            neque est! Quibusdam eveniet facere aperiam doloribus iusto?
            Nesciunt, autem. Itaque, quae.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</section>

<script>
  const content_beginning = document.querySelector("#beginning");
  //const content_experience = document.querySelector("#experience");

  const textBeginning__history = document.querySelector("#text__beginning");
  const iconSvgLeft__history = document.querySelector("#icon__history svg");

  content_beginning.addEventListener("click", (e: any) => {
    textBeginning__history.classList.toggle("show-text");
    iconSvgLeft__history.classList.toggle("icon-rotate")
  });

  // content_experience.addEventListener("click", (e) => {
  //   textExperience__history.classList.toggle("show-text");
  //   textBeginning__history.classList.remove("show-text");
  // });
</script>
