---

---


<section id="contacto" class="contact"> 
    <div class="content content__contact">
        <h2>Contáctame</h2>
        <div>
            <div class="contact__info">
                <p>Puedes contactamen en cualquier momento.</p>
                <h3>Email</h3>
                <p>Geovanialex4@gmail.com</p>
                <h3>Telefono</h3>
                <p>+52 000 000 000</p>
                <div class="redes__contacto">

                </div>
            </div>
            <form action="">
                <div class="form__inputs">
                    <div class="input__name">
                        <input type="text" name="" id="" required>
                        <span>Nombre</span>
                    </div>
                    <div class="input__email">
                        <input type="email" name="" id="" required>
                        <span>Correo electronico</span>
                    </div>
                </div>
                <div class="form__textarea">
                    <textarea name="" id="" cols="20" rows="5" required></textarea>
                    <span>Mensaje</span>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>