---
import Logo from '../img/logo-unach.png'
---

<section class="formations">
    <div class="content content__formations">
        <h2>Formación</h2>
        <div class="formation">
            <div class="formation__info">
                <picture class="info__img">
                    <img src={Logo} alt="Logo unach">
                </picture>
                <div>
                    <h3>Universidad Autonoma de Chiapas</h3>
                    <p>Licenciatura en sistemas computacionales</p>
                    <span>Agosto 2018 - Diciembre 2022</span>
                </div>
            </div>
        </div>
    </div>
</section>
