---
---

<section id="formación" class="formations">
  <div class="content content__formations">
    <h2 class="title">Formación</h2>
    <div class="formation">
      <div class="formation__info">
        <span>Agosto 2018 - Diciembre 2022</span>
        <div>
          <h3>Universidad Autonoma de Chiapas</h3>
          <p>Licenciatura en sistemas computacionales</p>
        </div>
      </div>
      <div class="formation__info">
        <span>Dic 2022 - Jun 2023</span>
        <div>
          <h3>Oracle Next Education</h3>
          <p>
            <a
              href="https://app.aluracursos.com/program/certificate/6baa179d-ef1a-4c45-b4b0-da7e867d3708"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Certificado de finalizacion"
            >
              Desarrollador Front-End Jr
            </a>
          </p>
        </div>
      </div>
      <div class="formation__info">
        <span>Nov 2023</span>
        <div>
          <h3>CodigoFacilito</h3>
          <p>
          <a
            href="https://codigofacilito.com/certificates/103102"
            target="_blank"
            rel="noopener noreferrer"
          >
            Curso Profesional de JAVA - 6h
          </a>
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
