---
import {Menu} from '.././data/menuItem'

let isShow=false
---
    <header>
        <nav class="content Hearder__nav">
        <div class="icon_title__nav">
            <div id="menus" data-menu class="menu_hamburger">
                <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 18H10" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 12L16 12" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round"/>
                </svg>
            </div>
            <h1>AG</h1>
        </div>
        {
            <div data-content_nav class="nav__items">
                <ul>
                {
                    Menu.map((item)=><li><a href={`#${item.title.toLowerCase()}`}rel="noopener noreferrer">{item.title}</a></li>)
                }
                </ul>
            </div>
        }
        <div id="change-color" class="change-color">
            <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <svg width="28px" height="28px" viewBox="0 0 24 24" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="12" r="5" stroke="#f2f2f2" stroke-width="1.5"/>
            <path d="M12 2V4" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M12 20V22" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M4 12L2 12" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path d="M22 12L20 12" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path opacity="1" d="M19.7778 4.22266L17.5558 6.25424" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path opacity="1" d="M4.22217 4.22266L6.44418 6.25424" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path opacity="1" d="M6.44434 17.5557L4.22211 19.7779" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            <path opacity="1" d="M19.7778 19.7773L17.5558 17.5551" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"/>
            </svg>
            
        </div>
        </nav>
    </header>

    <script>
        // const changeColor = document.querySelector('#change-color')
        // localStorage.setItem("icon","false")
        
        // changeColor.addEventListener('click',()=>{
        //     const icon = JSON.parse(localStorage.getItem("icon"))
        //     alert(icon)
        //     if(icon=="false"){
        //         localStorage.setItem("icon","true")
        //     }
        // })
    </script>