---
import Perfi from '../img/profile-pic.png'


---

<section class="about-me">
    <div class="content content__about-me">
        <picture class="content_profile" >
            <img src={Perfi} alt="" />
        </picture>
        <div id="sobre mi" class="about-me__info">
            <h2 data-h1>Sobre mi</h2>
            <p>
                Programador motivado por las tecnologías, actualmente trabajo en el entorno de desarrollado web de lado del Front-End, aunque tengo conocimientos de Back-End.<br>
                Tengo experiencia en proyectos escolares y personales.
            </p>
            <p>
                Soy autodidacta, tengo una actitud positiva, me gusta aprender cosas nuevas y mejorar mi lógica de programación en <a href="http://" target="_blank" rel="noopener noreferrer">Hackerrank</a>.
            </p>
        </div>
    </div>
</section>
