---
import { Icons } from "../data/menuItem";
---

<section id="tecnologías" class="tech">
  <div id="technology" class="content content__tech">
    <div id="title_tech" style="display:block;" >
      <h2 class="title">Tecnologías</h2>
      <p data-animate="fade-down" class="fade-animation">
        Un resumen sobre las tecnologias en las que he trabajado.
      </p>
    </div>
    <div class="tech__tech-icons">
      <div class="leng">
        {
          Icons.map((icon) => (
            
            <div class="tech__icon">
              <img
                data-animate="fade-down"
                class={icon.title}
                src={`img/lenguajes/${icon.nameImg}`}
                alt={`${icon.title}`}
              />
              <span data-animate="fade-down" >{icon.title}</span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script>
  function triggerFuction(entries) {
    entries.forEach((entry) => {
        if (entry.target.id === "title_tech") {
          TitleTech(entry);
        } else if (entry.target.className === "tech__icon") {
          TechIcons(entry);
        }
      });
  }

  const options = {
    root: null,
    rootMargin: "10px",
    threshold: 0.5,
  };

  // Api  
  const techObserver = new IntersectionObserver(triggerFuction, options);

  // Seleccionamos los elementos padres
  const titleTech = document.querySelector("#title_tech");
  const techIcons = document.querySelectorAll(".tech__icon");

  techObserver.observe(titleTech);
  techIcons.forEach((icon) => techObserver.observe(icon));

  const TitleTech = (entry) => {
    const p = entry.target.querySelector("p");
    if(entry.isIntersecting) p.classList.add("unset");
  };

  const TechIcons = (entry) => {
    const img = entry.target.querySelector("img");
    const span = entry.target.querySelector("span");
    if(entry.isIntersecting){
      img.classList.add("unset");
      span.classList.add("unset");
    }
  };
</script>
